.Footer{
    margin-top: 8rem;
    padding-bottom: 8rem;
}

.text-contentclr {
    color: rgb(8, 228, 154);
    font-weight: 700;
    font-size: 2.5rem;
}

.social-box {
    display: flex !important;
    justify-content: space-around !important;
}

.social-head{
    text-align: left;
}

.social-box>a>svg {
    height: 35px !important;
    color: rgb(8, 228, 154);
}

.text-cyanaqua {
    border: 1px solid gray;
    background-color: grey;
    border-radius: 20%;
}

@media screen and (max-width: 919.9px) {

.Footer-logo{
    margin-left: 2rem;
    margin-bottom: 2rem;
}
}