*{
  margin: 0;
}
.App {
  text-align: center;
  background-color: #070320;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.nav-link {
  color: whitesmoke !important;
  font-weight: bold !important;
}

.navbar{
  background: transparent!important;
  box-shadow: none;
  height: 100px;
  padding-right: 1em;
  padding-top: 1em;
  transition: margin 195ms cubic-bezier(.4,0,.6,1) 0ms,width 195ms cubic-bezier(.4,0,.6,1) 0ms;
  z-index: 999;
  /* background: fixed !important; */
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
}
.navbar.active{
  background-color: grey !important;
}
